<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>{{ website_title }} - {% block pagetitle %}Welcome{% endblock %}</title>
        <link rel="stylesheet" href="{{ CSS_ROOT }}main.css" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-40089090-4', 'bmdcharities.org');
          ga('send', 'pageview');

        </script>

        {% block extra_headers %}
        {% endblock %}
    </head>
    <body>
    <div id="outer_container">
    <div id="inner_container">
	    <img src="{{ STATIC_ROOT }}images/banner.jpg" /><br/>
	    <div id="nav">
		    <a href="{{ URL_ROOT }}">Home</a>
		    <a href="{{ URL_ROOT }}page/2/">Details</a>
		    <a href="{{ URL_ROOT }}event/register/">Register</a>
		    <a href="{{ URL_ROOT }}page/3/">Sponsors</a>
		    <a href="{{ URL_ROOT }}page/4/">Advertise</a>
		    <a href="{{ URL_ROOT }}page/5/">Charities</a>
		    <a href="{{ URL_ROOT }}contact/">Contact Us</a>
	    </div>
	    <div id="nav_under"></div>
	    <div id="content">
		    {% block content %}
            content goes here
            {% endblock %}
	    </div>
    </div>
    </div>

    </body>
</html>