<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ event.event_title }}</title>
</head>
<body>

<h2>{{ event.event_title }}</h2>
{% if event.img_loc %}
	<img style="float:right;width:317px; height:auto;" src="{{ URL_ROOT }}{{ event.img_loc }}" />
{% endif %}

<table>
	<tr>
		<td>Start Date</td>
		<td>{{ event.start_date }}</td>
	</tr>
	{% if event.start_time %}
	<tr>
		<td>Start Time</td>
		<td>{{ event.start_time }}</td>
	</tr>
	{% endif %}
	{% if event.end_date %}
	<tr>
		<td>End Date</td>
		<td>{{ event.end_date }}</td>
	</tr>
	{% endif %}
	{% if event.end_time %}
	<tr>
		<td>End Time</td>
		<td>{{ event.end_time }}</td>
	</tr>
	{% endif %}
	<tr>
		<td>Location</td>
		<td>{{ event.location }}</td>
	</tr>
	<tr>
		<td>Location Address</td>
		<td>{{ event.location_address }}</td>
	</tr>
</table>

<p>{{ event.description|raw }}</p>

</body>
</html>