{% extends 'base.html' %}

{% block extra_headers %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ URL_ROOT }}lib/fancy/jquery.fancybox.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="{{ URL_ROOT }}lib/fancy/jquery.fancybox.css?v=2.1.4" media="screen" />

<script type="text/javascript">
	
$(document).ready(function() {
	$('.fancybox').fancybox({
		beforeLoad : function() {         
            this.width  = 600;  
            this.height = 600;
        },
        autoSize : false,
	});
});

</script>

{% endblock %}

{% block content %}
<h2>{{ header }}</h2>

{% for event in events %}
<p>
	<a class="fancybox fancybox.iframe" href="{{ URL_ROOT }}event/{{ event.ID }}/">
	{% if event.event_title %}
		{{ event.event_title }}
	{% else %}
		No Title
	{% endif %}
	</a>
</p>
{% endfor %}

{% endblock %}