{% extends 'base.html' %}

{% block extra_headers %}
{% endblock %}

{% block content %}

<h2>Thank you for supporting BMD Charities Taste Fest.</h2>

<p>We look forward to seeing you at the event! You can pick up your tickets at the door with a valid picture ID. If you are not
the person who will pick up the tickets at the door, please email us at <a href="mailto:brian@bmdcharities.org">brian@bmdcharities.org</a> to let us know.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}