{% extends 'base.html' %}

{% block extra_headers %}
<script type="text/javascript">
	function valid() {
		var isGood;

		if()
		
		return false;
	}
</script>
{% endblock %}

{% block content %}
<form method="post" onsubmit="return valid();">
<table>
	<tr>
		<td><input type="checkbox" value="yes" name="emerald" /></td>
		<td>Diamond</td>
		<td>--- $10,000.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="diamond" /></td>
		<td>Amber</td>
		<td>--- $5,000.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="ruby" /></td>
		<td>Ruby</td>
		<td>--- $3,000.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="platinum" /></td>
		<td>Platinum</td>
		<td>--- $1,000.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="gold" /></td>
		<td>Gold</td>
		<td>--- $700.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="silver" /></td>
		<td>Silver</td>
		<td>--- $350.00</td>
	</tr>
	<tr>
		<td><input type="text" style="width: 20px;" maxlength="2" name="ticket" /></td>
		<td># of Tickets</td>
		<td>--- $35.00 / Each</td>
	</tr>
	<tr>
		<td colspan="3" align="center"><i>Advertisement Sponsors</i></td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="adFull" /></td>
		<td>Full Page</td>
		<td>--- $150.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="adHalf" /></td>
		<td>Half Page</td>
		<td>--- $100.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="adQuarter" /></td>
		<td>Quarter Page</td>
		<td>--- $60.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="adBiz" /></td>
		<td>Business Card</td>
		<td>--- $30.00</td>
	</tr>
	<tr>
		<td><input type="checkbox" value="yes" name="adParton" /></td>
		<td>Patron (Name Only)</td>
		<td>--- $20.00</td>
	</tr>
</table>


<table>
	<tr>
		<td>First Name</td>
		<td><input type="text" name="first_name" /></td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td><input type="text" name="last_name" /></td>
	</tr>
	<tr>
		<td>Company Name</td>
		<td><input type="text" name="company" /></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="text" name="email" /></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td><input type="text" name="phone" /></td>
	</tr>
	<tr>
		<td>Address</td>
		<td><input type="text" name="address" /></td>
	</tr>
	<tr>
		<td>City</td>
		<td><input type="text" name="city" /></td>
	</tr>
	<tr>
		<td>State</td>
		<td><select name="state">
			<option value="AL">Alabama</option>
			<option value="AK">Alaska</option>
			<option value="AZ">Arizona</option>
			<option value="AR">Arkansas</option>
			<option value="CA">California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DE">Delaware</option>
			<option value="FL">Florida</option>
			<option value="GA">Georgia</option>
			<option value="HI">Hawaii</option>
			<option value="ID">Idaho</option>
			<option value="IL">Illinois</option>
			<option value="IN">Indiana</option>
			<option value="IA">Iowa</option>
			<option value="KS">Kansas</option>
			<option value="KY">Kentucky</option>
			<option value="LA">Louisiana</option>
			<option value="ME">Maine</option>
			<option value="MD">Maryland</option>
			<option value="MA">Massachusetts</option>
			<option value="MI">Michigan</option>
			<option value="MN">Minnesota</option>
			<option value="MS">Mississippi</option>
			<option value="MO">Missouri</option>
			<option value="MT">Montana</option>
			<option value="NE">Nebraska</option>
			<option value="NV">Nevada</option>
			<option value="NH">New Hampshire</option>
			<option value="NJ">New Jersey</option>
			<option value="NM">New Mexico</option>
			<option value="NY">New York</option>
			<option value="NC">North Carolina</option>
			<option value="ND">North Dakota</option>
			<option value="OH">Ohio</option>
			<option value="OK">Oklahoma</option>
			<option value="OR">Oregon</option>
			<option value="PA">Pennsylvania</option>
			<option value="RI">Rhode Island</option>
			<option value="SC">South Carolina</option>
			<option value="SD">South Dakota</option>
			<option value="TN">Tennessee</option>
			<option value="TX">Texas</option>
			<option value="UT">Utah</option>
			<option value="VT">Vermont</option>
			<option value="VA">Virginia</option>
			<option value="WA">Washington</option>
			<option value="WV">West Virginia</option>
			<option value="WI">Wisconsin</option>
			<option value="WY">Wyoming</option>
		</select></td>
	</tr>
	<tr>
		<td>Zip</td>
		<td><input type="text" style="width: 50px;" maxlength="5" name="zip" /></td>
	</tr>
	<tr>
		<td>Will Pay By Check</td>
		<td>
			<input type="radio" value="yes" name="paid" />
		</td>
	</tr>
	<tr>
		<td>Will Pay By Card</td>
		<td>
			<input type="radio" value="no" checked="checked" name="paid" />
		</td>
	</tr>
	<tr>
		<td><input type="submit" value="Submit" /></td>
		<td></td>
	</tr>
</table>
</form>
{% endblock %}