{% extends 'events_base.html' %}

{% block extra_headers %}
<script type="text/javascript">
	
function doEdit(id)
{
	var loc = "{{ URL_ROOT }}admin/event/" + id + "/";
	window.location = loc;
}

function doDelete(id)
{
	if(confirm("Are you sure?"))
	{
		var loc = "{{ URL_ROOT }}admin/event/" + id + "/delete/";
		window.location = loc;
	}
}

</script>
{% endblock %}

{% block content %}
<h1>Events</h1>
{{ events|raw }}

<br/>
<br/>
<a href="{{ URL_ROOT }}admin/event/add/">Add New Event</a>
{% endblock %}