{% extends 'base.html' %}

{% block extra_headers %}
<script type="text/javascript">

function editPage(id)
{
	var loc = "{{ URL_ROOT }}admin/page/" + id + "/";
	window.location = loc;
}

function moveUp(id)
{
	var loc = "{{ URL_ROOT }}admin/page/move/" + id + "/up/";
	window.location = loc;
}

function moveDown(id)
{
	var loc = "{{ URL_ROOT }}admin/page/move/" + id + "/down/";
	window.location = loc;
}

</script>
{% endblock %}

{% block content %}

<h2>Pages</h2>

{{ pagemenu|raw }}

{% if CAN_ADD_PAGES %}
<a href="{{ URL_ROOT }}admin/page/">Add a page</a>
{% endif %}

<!-- <h2>Other</h2>

<ul>
	{% if HAS_MAIN_PAGE %}
	<li><a href="{{ URL_ROOT }}?edit=1">Edit Main Page</a></li>
	{% endif %}
	<li><a href="{{ URL_ROOT }}admin/events">Events</a></li>
	<li><a href="{{ URL_ROOT }}admin/directory/">Directory</a></li>
	<li><a href="{{ URL_ROOT }}admin/inventory/">Inventory</a></li>
	<li><a href="{{ URL_ROOT }}admin/config/">Configuration Settings</a></li>
	<li><a href="{{ URL_ROOT }}admin/validate/">Validate Install</a></li>
	<li><a href="{{ URL_ROOT }}admin/logout/">Logout</a></li>
</ul> -->
{% endblock %}

